#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  word-spacing: 0.5em;
  line-height: 2em;
}

button {
  padding: 1em;
  will-change: filter;
  gap: 1em;
  transition: filter 300ms;
}
button:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
button.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

